.main {
    display: grid;
    grid-template-columns: 200px;
    line-height: 1.3em;
    align-items: center;
    margin-top: 130px;
     

}

 h2 {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 20px 10px 20px;
    justify-content: end;
    color: #e67e34;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 0.9em;
}

.money{
    display: grid;
    color: black;
    font-weight: bold;
    grid-template-columns: 200px 100px;
    margin-top: 35px;
    justify-content: end;
}

.prev {
    display:grid;
    grid-template-columns: 200px 40px 100px 10px;
    grid-template-rows: 30px 30px 130px;
    justify-content: end;
}

.arrowNext {
 display:grid;
 background-color: #d1cdcd;
 width:77px;
 height:46px;
 justify-content: end;
 align-items: center;
 
 grid-template-columns: 69px 10px 10px;
}

.main {
    grid-area: main;
}


