.navmenu {
    display: grid;
    grid-template-columns: 1fr 100px 200px;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 12px;
    line-height: 30px;
}

.navmenu ul {

    list-style-type: none;
    text-align: center;
    text-transform: uppercase;

} 

.brand {
    color: #e67e34;
    font-weight: bold;
}

.brand a {
    color: #e67e34;
}


a {
   
   color: #404040;
}

a:link {
    color: #404040; 
}

a:hover {
    color: #e67e34;
}

.navmenu {
    grid-area: navmenu;
}

